<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PEAKFLOW</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a class="active" href="/">KAIROS 1</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </nav>

    <main>
      <section class="left-section">
        <p class="subtitle">A NEW FRONTIER TOOL<br>FOR PACING STRATEGY IN RUNNING COMPETITION</p>
        <p class="desc">
          Kairos 1 is about mastering your race with a precision-crafted pacing strategy. Maximize performance through optimized timing and carb fueling. Our cutting-edge model dissects your Strava data to decode your elite running profile. <br> <br> Break your boundaries and dominate with Kairos 1.
        </p>
        <p class="available">AVAILABLE NOW</p>
        <ol class="links">
          <li><a href="https://github.com/Ekeichi/pf-kairos">Kairos 1 repository</a></li>
          <!-- <li><a href="#">“Freedom at the Frontier: PeakFlow“</a></li> -->
        </ol>
        <a class="btn" href="{{ url_for('predict') }}">
          START NOW
        </a>
<!--         <p class="bottom-text">
          PeakFlow use frontier technologies like reinforcment learning to be able to produce the best pacing strategy, personalized for you.  -->
        </p>
      </section>

      <section class="right-section">
        </section>
    </main>

    <div class="title-overlay">
      <p class="presents">PEAKFLOW REASEARCH PRESENTS</p>
      <h1>KAIROS 1</h1>
    </div>

  </div> </body>
</html>