<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PEAKFLOW</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a class="active" href="/">KAIROS ZERO</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </nav>

    <main>
      <section class="left-section">
        <p class="subtitle">A NEW FRONTIER TOOL<br>FOR PACING STRATEGY IN RUNNING COMPETITION</p>
        <p class="desc">
          Kairos empowers you to conquer your race with a precision-engineered pacing strategy. Unlock your peak performance through tailored timing. Our innovative model analyzes your running data to craft a personalized profile, accounting for terrain, elevation, and your unique strengths. <br><br> Shatter your limits and excel with Kairos Zero, designed to make elite tools accessible to runners of all levels.
        </p>
        <p class="available">AVAILABLE NOW</p>
        <ol class="links">
          <li><a href="https://github.com/Ekeichi/pf-kairos">Kairos Zero repository</a></li>
          <li><a href="https://arxiv.org/abs/1807.10595">A Minimal Power Model for Human Running Performance</a></li>
          <!-- <li><a href="#">“Freedom at the Frontier: PeakFlow“</a></li> -->
        </ol>
        <a class="btn" href="{{ url_for('predict') }}">
          START NOW
        </a>
<!--         <p class="bottom-text">
          PeakFlow use frontier technologies like reinforcment learning to be able to produce the best pacing strategy, personalized for you.  -->
        </p>
      </section>

      <section class="right-section">
        </section>
    </main>

    <div class="title-overlay">
      <p class="presents">PEAKFLOW TECHNOLOGIES PRESENTS</p>
      <h1>KAIROS ZERO</h1>
    </div>

  </div> </body>
</html>